

 .container {
  background: rgb(157, 128, 128);
  display: inline-block;
  border: 5px solid black;
  flex-grow : 1
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 10px);
  grid-template-rows: repeat(10, 10px);
  grid-gap: 5px;
}

.cell {
   /* center the cell content */
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Arial;
  font-size: 3rem;
  font-weight: bold;
  background: white;
}

.navbar{
  flex-grow:  0.05;
  background-color: #F64E4D;
  height: 50px;

}

.main{
  display : flex;
  height: 100vh;
  flex-direction: column;
}

.content{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap;  */
}


.left {
  /* flex-grow: 0.5; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #252423;
  border-right: 2px solid black;
}

.right{
  /* flex-grow: 0.5; */
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #252423;
}

#para{
  margin-left: 5px;
  margin-top: 20px;
  color : #F6F4F2;
}

#go {
  margin-left: 40%;
  width: fit-content;
  padding: 10px 30px;
  background-color: #61c3ff;
  border: 2px solid rgba(0, 0, 255, 0.566);
}






